<html>
	<head>
		<title>The Gossip Project - A Gossip Page</title>
	</head>
	<body>
		<h1>PAGE POTIN !</h1>
	</body>
	Voici la page du potin n° <%=id_gossip %>
	<br />
	<br />
	Son auteur : <%=gossip[0] %>
	<br />
	<br />
	Le contenu du potin : <%=gossip[1] %>
	<br />
	<br />
	<a href="/gossips/<%=id_gossip %>/comment/">AJOUTER UN COMMENTAIRE</a>	
	<br />
	<br />
	<a href="/gossips/<%=id_gossip %>/edit/">MODIFIER LE POTIN</a>
	<br />
	<br />
	<a href="/">Lien pour revenir à la page des potins.</a>
</html>